@media (min-width:992px) and (max-width: 1199px) {

   
     body{
        font-family: myFont !important;
        color: #120136 !important;       
        box-sizing: border-box;
    }

    .jumbrotronClass{
        padding-left: 8%;
        padding-right:8%;
        
        position: relative;
        
    }

    .jumbotron{                  
         background-image: linear-gradient(90deg, rgba(3, 90, 166) 33%,rgba(64, 186, 213) 66%,transparent 100%);
         text-align: center;
         box-shadow: 10px 10px #010814;         
     }

     .jumbotronIntro{
        color: white !important;        
        text-shadow: 2px 2px black;
        
     }


    .jumbotronIntro h1{
       text-align: center;
       font-size:6vmin;
    } 

    .jumbotronIntro p{
        font-size:4vmin;

    }



    .secondjumbo{
        padding: 2% 8%;        
        display: grid;
        grid-template-columns:fit-content(50%) fit-content(50%);
        box-sizing: border-box;
        margin-top: 60px;
      } 


    .leftHand{
        border-top-left-radius: 8px; 
        border-bottom-left-radius: 8px;           
        position: relative; 
        background-image:linear-gradient(to right, rgba(3, 90, 166) 40%,rgba(64, 186, 213)  75%,rgba(114, 196, 214) 90%,white 100%);
        float: left;
        box-shadow: 10px 10px #010814;
        font-size: 1.7rem;
        
        
    }

    .leftHand h1{        
        padding-top: 5%; 
        padding-left: 8%;

    }

    .leftHand p{
        font-size: 1.5rem;
        padding: 5% 8%;
    }


    .rightHand{  
        border-top-right-radius: 8px;  
        border-bottom-right-radius: 8px; 
        overflow: hidden;      
        background-color: white;
        float: right;
        box-shadow: 10px 10px #010814;       
        
    }

    .rightHand img{
        width: 100%;
        height: 100%;      

    }

   .timeLine{  
        position: relative;       
        margin: 5% 8%;
        padding: 2% 8%;
        background-image:linear-gradient(to right, rgba(3, 90, 166) 33%,rgba(64, 186, 213)  66%,rgba(114, 196, 214) 90%,white 100%);
        border-radius: 8px;
        box-shadow:10px 10px #010814;
        text-align: center;         

    }

     .myProjectTitle{
      font-size: 2.7rem;
      margin-bottom: 30px;
      position: relative; 
    }

    .card{
      margin: 0 auto;
      float: none;      
      padding-left: 10px;
      padding-right: 10px;
      background-color: transparent !important;
      border:none !important;
    }

    .card-img-top{    
      height:180px;
   }
    
       
    .timeLineInside{       
        font-weight: bold;
        padding-top:10px;       
        position: relative; 
    }

    .timeLine p{
        font-size: 3vmin;
    }


    .edutitle{
      padding-bottom:10px; 
    }
   
       .contactTable{
  padding-bottom: 20px; 
}

.contactTable table{
  font-size: 1.5rem;
  margin:auto;    
}

.contactTable table tbody tr td{
  padding: 10px 10px;
}
    

}

    


 
  
     

 




