@media (max-width: 767px) {
	 body{
        font-family: myFont !important;
        color: #120136 !important;
        
        box-sizing: border-box;
    }

     .tag {
        opacity: 0;
        transform: translate(0, 10vh);
        transition: all 2s;
    }

    .tag.visible {
      opacity: 1;
      transform: translate(0, 0);
    }

    .jumbrotronClass{
        padding-left: 8%;
        padding-right:8%;        
        position: relative;

    }

    .jumbotron{                  
         background-image: linear-gradient(90deg, rgba(3, 90, 166) 33%,rgba(64, 186, 213) 66%,transparent 100%);
         text-align: center;
         box-shadow: 10px 10px #010814;         
     }

     .jumbotronIntro{
        color: white !important;        
        
        
     }


    .jumbotronIntro h1{
       text-align: center;
       font-size: 7vmin;
    } 

    .jumbotronIntro p{
        font-size: 5vmin;
    }



    .secondjumbo{
        padding: 0% 8%;        
        display: grid;
        grid-template-columns:fit-content(100%) fit-content(0%);
        box-sizing: border-box; 
    } 


    .leftHand{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-top-right-radius: 8px;  
        border-bottom-right-radius: 8px;
        position: relative; 
        background-image:linear-gradient(to right, rgba(3, 90, 166) 40%,rgba(64, 186, 213)  75%,rgba(114, 196, 214) 90%,white 100%);
        float: left;
        box-shadow: 10px 10px #010814;
        font-size: 5vmin;

        
    }

    .leftHand h1{           
        padding-top: 5%; 
        padding-left: 8%;

    }

    .leftHand p{
        font-size: 3vmin;
        padding: 5% 8%;
    }


    .rightHand{  
        border-top-right-radius: 8px;  
        border-bottom-right-radius: 8px; 
        overflow: hidden;      
        background-color: green;
        float: right;
        box-shadow: 10px 10px #010814;
        
    }

    .rightHand img{
        width: 100%;
        height: 100%;
        visibility: hidden;
        

    }

   .timeLine{  
        position: relative;       
        margin: 5% 8%;
        padding: 2% 8%;
        background-image:linear-gradient(to right, rgba(3, 90, 166) 40%,rgba(64, 186, 213)  75%,rgba(114, 196, 214) 90%,white 100%);
        border-radius: 8px;
        box-shadow:10px 10px #010814;
        text-align: center;         

    }

     .myProjectTitle{
      font-size: 6vmin;
      margin-bottom: 30px;
      position: relative; 
    }

    .card{
      margin: 0 auto;
      float: none;
      background-color: transparent !important;
      border:none !important;
      padding-bottom: 50px;
     
    }

    .card-img-top{ 
      margin: 0 auto;
      float: none;  
      text-align: center;
      height:auto;
      width: 70% !important;
   }
    
       
    .timeLineInside{       
        font-weight: bold;
        padding-top:10px;       
        position: relative; 

    }

    .timeLine p{
        font-size: 4vmin;

    }


    .edutitle{
      padding-bottom:10px; 
    }   

       .contactTable{
  padding-bottom: 20px; 
}

.contactTable table{
  font-size: 1.5rem;
  margin:auto;    
}

.contactTable table tbody tr td{
  padding: 10px 10px;

}
}