@font-face
{
	font-family: 'myFont';
	src: url("../fonts/UbuntuMono-R.ttf");
	font-weight: normal;
	font-style: normal;
}


    body{
        font-family: myFont !important;
        color: #120136 !important;
        background-image: linear-gradient(to bottom right, rgba(0, 24, 66), rgba(2, 39, 105),rgba(4, 66, 179),rgba(81, 115, 176));
        box-sizing: border-box;
    }

 .tag {
        opacity: 0;
        transform: translate(0, 10vh);
        transition: all 2s;
    }

    .tag.visible {
      opacity: 1;
      transform: translate(0, 0);
    }

@media (min-width: 1200px) {

 .jumbrotronClass{
        padding-left: 8%;
        padding-right:8%;
        position: relative;


    }

    .jumbotron{
         padding-top: 5%  !important;
         padding-bottom:5%  !important;
         height: 95%;
         background-size: cover;
         background-position:right center;
         background-image: linear-gradient(45deg, rgba(3, 90, 166) 30%,rgba(64, 186, 213) 45%,transparent 45%),linear-gradient(135deg,rgba(64, 186, 213) 45% ,rgba(3, 90, 166) 30%,transparent 45%),url("../images/edit1.png");
         text-align: left ;
         box-shadow: 10px 10px #010814;
     }
     
     .jumbotronIntro{
         padding-right: 50%;
         position: relative;



     }
     
     .jumbotronIntro h1{
         font-size:17.5vmin;
     } 


     .jumbotronIntro p{
        margin-right: 10%;
        padding-right: 15%;
        font-size:3.8vmin;
     }




    .secondJumbo{
        padding: 2% 8%;        
        display: grid;
        grid-template-columns:fit-content(50%) fit-content(50%);
        box-sizing: border-box;
        

    }

    .leftHand{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        position: relative; 
        background-image:linear-gradient(to right, rgba(3, 90, 166) 40%,rgba(64, 186, 213)  75%,rgba(114, 196, 214) 90%,white 100%);
        float: left;
        box-shadow: 10px 10px #010814;
        font-size: 1.7rem;
        
    }

    .leftHand h1{        
        padding-top: 5%; 
        padding-left: 8%;

    }

    .leftHand p{
        font-size: 1.5rem;
        padding: 5% 8%;
    }


    .rightHand{  
        border-top-right-radius: 8px;  
        border-bottom-right-radius: 8px; 
        overflow: hidden;      
        background-color: white;
        float: right;
        box-shadow: 10px 10px #010814;
        
    }

    .rightHand img{
        width: 100%;
        height: 100%;
        display: block;


    }
   

    .timeLine{         
        margin: 5% 8%;
        padding: 2% 8%;
        background-image:linear-gradient(to right, rgba(3, 90, 166) 30%,rgba(64, 186, 213)  60%,rgba(114, 196, 214) 90%,white 100%);
        border-radius: 8px;
        box-shadow:10px 10px #010814;
        text-align: center;     
    }

    
       
    .timeLineInside{       
        font-weight: bold;
        padding-top:10px;       
       
    }

    .timeLine p{
        font-size: 2.7vmin;
    }


   .myProjectTitle{
      font-size: 2.7rem;
      margin-bottom: 30px;
    }

   .card-img-top{    
    height:180px;
   }
    
    .card{
      padding-left: 10px;
      padding-right: 10px;
      background-color: transparent !important;
      border:none !important;
    }

    .edutitle{
      padding-bottom:10px; 
    }

    .contactTable{
  padding-bottom: 20px; 
}

.contactTable table{
  border-spacing:30px;
  font-size: 2rem;
  margin:auto;    
}

.contactTable table tbody tr td{
  padding: 25px 20px;
  border-radius: 25px;
}

}

.hoverClass:hover{
  opacity: 0.5;
  
}


.techStackImg{
  height: 150px;
  width: 150px;
  margin: 10px 20px;  
}




#loaderScreen{
  text-align: center;

  display: inline-block;
  background-color: rgba(3, 90, 166);;
  height: 100px;
  width:100px;
  border-radius: 50%;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; 
 
}

#loaderScreen p{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -80px;
}


@keyframes example {
  from {background-color: rgba(3, 90, 166);}
  to {background-color: rgba(185, 228, 237);}
}


    from {background-color: rgba(185, 228, 237);}
  to {background-color: rgba(3, 90, 166);}


#contentScreen{
  display: none;
}

body{
  background-image: linear-gradient(to right,white,white);
}

.socialFoot{
  background-color: rgba(31, 38, 112);
  color: white;
}

.col-sm{
  padding: 10px 20px;
}

.col-sm div{
  display: inline;
  padding-right: 10px;
}



#helloWorld{
  display: none; 
  text-align: center;
  font-size: 22px;  
  font-weight: bold;
}

.infoBox:hover div img{
  opacity: 0.1;
}


.infoBox:hover #helloWorld{
  display: block;
  margin-left: 20px;
  margin-top: 50px;
  position: absolute;
  z-index: 2;
  padding-right: 45px;
  padding-left: 45px;

}

.infoBox:hover img{
  z-index: 1;
}











